.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

#box {
    float: left;
    height: 298.578125px;
    margin-left: 0%;
    margin-top: 200px;
    clear: none;
    width: 100%;
    background-color: rgb(239, 239, 239);
}

#formgroup {
    float: left;
    height: 120.875px;
    display: block;
    text-align: left;
    margin-left: 16.189631%;
    margin-top: 67px;
    clear: none;
    width: 60.22%;
    margin-right: 8px;
    min-width: 0px;
    padding-bottom: 0px;
}

#textinput {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 4.3em;
    display: block;
    width: 100%;
}

#text {
    float: none;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    color: rgb(140, 140, 140);
    margin-bottom: 16px;
}

#input {
    float: left;
    height: 83px;
    font-size: 1.3em;
    margin-left: 1.518703%;
    margin-top: 126.78125px;
    clear: none;
    width: 10.820313%;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 826px) {
    #box {
        height: 380.578125px;
    }

    #input {
        margin-top: 73.75px;
        margin-left: 11.119098%;
        clear: both;
        width: 74.262258%;
    }

    #formgroup {
        width: 74.42%;
        margin-left: 11.09%;
    }
}

@media only screen and (max-width: 365px) {
    #text {
        font-size: 1.4em;
    }
}

