<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- MA Advanced Settings - Please change ONLY if you know what you are doing  -->
    <add key="HTTPPort" value="1914" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WidgetTopMargin1" value="-194" />
    <add key="WidgetTopMargin2" value="-130" />
    <add key="StartWidth" value="1200" />
    <add key="StartHeight" value="720" />
    <add key="StartX" value="0" />
    <add key="StartY" value="300" />
    <add key="PTZ1Name" value="" />
    <add key="PTZ2Name" value="" />
    <add key="PTZ3Name" value="" />
    <add key="PTZ4Name" value="" />
    <add key="CanMinimize" value="False"/>
  </appSettings>

</configuration>